* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* for grid and flexbox layout view */
*{
  border: 1px solid red;  
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.sidebar{
  grid-column: 1;
  grid-row: 1/span 4;
}

.header{
  grid-column: 2/span 3;
}