* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --profile-name : "Parapat Patc.";
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
}

.sidebar{
  background-color: rgb(32, 156, 227);
  color: white;
  font-size: 20px;
  font-weight: bold;
  grid-column: 1;
  grid-row: 1/span 3;
  padding:20px;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5%;
}

li {
  display:flex;
  gap:10px;
  align-items: center;
  list-style: none;
}

#logo-dashboard, li {
  margin-left: 10%;
}

li:nth-child(7){
  margin-top: 10%;
}

#profile-account::before{
  content: var(--profile-name);
  font-weight: bold;
}

#logo-dashboard{
  display: flex;
  justify-content: start;
  align-items: center;
}


.header-banner{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: 2 /span 3;
  grid-row: 1 / span 2;
}

.header-container ,.contents-container{
  display: grid;
  grid-template-columns: 3fr 1.5fr;
}

.button-section{
  grid-column: 2 / span 3;
}

.button-section, .profile-section, .profile-header, .search-bar{
  display: flex;
  align-items: center;
}

.profile-header{
  gap: 20px;
  margin-left: 10%;
}

button{
  width: 70px;
  padding: 5px;
  border-radius: 20px;
  font-size: 1rem;
  color: white;
  background-color: rgb(32, 156, 227);
  font-weight: 500;
  border: none;
}

button:hover{
  border: solid 1px black;
}

input[type=text]{
  width: clamp(200px,80%,1000px);
  border-radius: 10px;
  background-color: lightgray;
}

.button-section, .search-bar{
  gap: 20px;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.search-bar, .profile-section{
  gap: 10px;
  margin-left: 3%;
  padding: 5px;
}

.contents-container{
  background-color: rgb(235, 235, 244);
  grid-column: 2 / span 3;
}

.project > .card{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  padding-bottom: 50px;
  border-left: 8px solid;
  border-left-color: orange;
  gap: 10px;
}

.project > .card > .header{
  font-weight: bolder;
  font-size: 16px;
}

.annoucement-container > .card > .header{
  font-weight: bolder;
  font-size: 12px;
}

.annoucement-container > .card > .content{
  font-size: 10px;
}

.card > .icon-project-card {
  display:flex;
  position:absolute;
  gap: 10px;
  bottom: 5%;
  right: 5%;
}

.project{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-row: 1 / span 2;
  gap: 20px;
  padding: 1rem;
  padding-top: 50px;
}



#announcement-header, #project-header{
    position:absolute;
    font-size: 16px;
    font-weight: bold;
}

.annoucement-container{
  justify-content: center;
  display: flex;
  flex-direction: column;
  position:relative;
  padding: 20px;
  background-color: white;
  margin: 5%;
  margin-top: 50px;
  border-radius: 10px;
  gap: 10px;
  max-width: 250px;
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#project-header{
  top: 20px;
  left: 1rem;
}

#announcement-header{
  top: -28px;
}

.annoucement-container > .card {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-bottom: 1px black solid;
  padding-bottom: 5px;
  width: clamp(200px,200px,200px);
  margin-left: 5px;
  gap: 10px;
}

.card >.content{
  flex: 1;
  color: gray;
}

.trending-container{
  display: flex;
  flex-direction: column;
  position:relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  max-width: 250px;
  margin: 5%;
  padding: 10px;
}

#trending-header{
  position:absolute;
}


/* Icon image setting */
svg {
color: white;  
}

.icon-profile{
  border-radius: 50%;
}